# this files and directories created automatically when you create project in stm32cubeIDE
.settings/
.vscode/ #this directory is created when you open project is vscode.
Debug/
Startup
.cproject
.project
stm32f4xx_drivers.launch
STM32F407VETX_FLASH.ld
STM32F407VETX_RAM.ld
